  <div class="background-image-container">
  <div class="opacity"></div>
  <div class="container-fluid">
    <div class="row text-white justify-content-md-center">
      <div class="col-md-8 offset-md-2 mb-2">
        <h1 class="display-4">Library App</h1>
        <h6>Watch and upload amazing photos !</h6>
      </div>
      <div class="col-md-6">
        <app-simple-search (groupFilters)="onSearch($event)"></app-simple-search>
      </div>
    </div>
  </div>
</div>
<!-- Main content -->
<div class="container mt-3">
  <div class="row card-group justify-content-md-center">
    <div class="col-md-4 mb-3"
         *ngFor="let book of books">
      <app-book-card
        [book]="book"
        [isFav]="false"
        (showDetails)="onShowDetails($event)"
        (toggleFavorite)="onToggleFavorite($event)"></app-book-card>
    </div>

    <div class="col-auto">
      <p *ngIf="!((books)?.length)">No books found</p>
    </div>
  </div>
</div>
