  <div class="background-image-container">
  <div class="opacity"></div>
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-md-6 text-white">
        <h1>Library App</h1>
        <p>Watch and upload amazing photos !</p>
        <app-search (groupFilters)="onSearch($event)"></app-search>
      </div>
    </div>
  </div>
</div>
<!-- Main content -->
<div class="container">
  <div class="row">
    <div class="col-md-auto">
      <p> {{books?.length}} books found</p>
    </div>
  </div>

  <div class="row card-group justify-content-md-center">
    <div class="col-md-4 mb-3"
         *ngFor="let book of books">
      <app-book-card
        [book]="book"
        [isFav]="false"
        (showDetails)="onShowDetails($event)"
        (toggleFavorite)="onToggleFavorite($event)"></app-book-card>
    </div>

    <div class="col-auto">
      <p *ngIf="!((books)?.length)">No books found</p>
    </div>
  </div>
</div>
