<div class="container">
  <app-search (groupFilters)="onSearch($event)"></app-search>

  <hr>

  <div class="row">
    <div class="col-md-auto">
      <h2>Books</h2>
      <p> {{books?.length}} books found</p>
    </div>
  </div>

  <div class="row card-group">
    <div class="col-md-4 mb-3"
         *ngFor="let book of books">
      <app-book-card
        [book]="book"
        [isFav]="false"
        (showDetails)="onShowDetails($event)"
        (toggleFavorite)="onToggleFavorite($event)"></app-book-card>
    </div>

    <div class="col-auto">
      <p *ngIf="!((books)?.length)">No books found</p>
    </div>
  </div>
</div>
