.opacity {
  background-color: rgba(0,0,0,.3);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.background-image-container {
  position: relative;
  background-image: url('../../../assets/img/background/home-background.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 12% 0;
}
