<div class="card text-center" >
  <img class="card-img-top" src={{book.imgPreview}} alt="">
  <div class="card-img-overlay">
    <button *ngIf="!isFav" class="btn btn-light d-inline-flex align-content-center float-right" (click)="toggleFav(book)">
      <i class="material-icons mr-1">add</i>Collect
    </button>
    <button *ngIf="isFav" class="btn btn-danger d-inline-flex align-content-center float-right" (click)="toggleFav(book)">
      <i class="material-icons mr-1">delete</i>Remove
    </button>
  </div>
  <div class="card-body" (click)="showBookDetails(book)">
    <h4 class="card-title">{{ book.title }}</h4>
    <h5 class="card-subtitle mb-2 text-muted">{{ book.author }}</h5>
  </div>
  <div class="card-footer">
    <small class="text-muted">Written in 02/09/2000</small>
  </div>
</div>
