<div class="row justify-content-md-center mt-3 mb-3">
  <form novalidate [formGroup]="searchForm">
    <div class="col-md-12">
      <div class="row form-group">
        <div class="col-md-4 mb-3">
          <input class="form-control"
                  placeholder="Title"
                  formControlName="bookTitle">
        </div>
        <div class="col-md-4 mb-3">
          <input class=" form-control"
                  placeholder="Author"
                  formControlName="author">
        </div>
        <div class="col-md-4 mb-3">
          <input class="form-control"
                  placeholder="Genre"
                  formControlName="literaryGenre">
        </div>
      </div>
      <div class="row justify-content-md-end">
        <div class="col-md-auto">
          <button class="btn btn-outline-primary d-inline-flex align-content-center" (click)="clear()">
              <i class="material-icons mr-1">clear</i>Clear
          </button>
          <button class="btn btn-outline-success ml-2 d-inline-flex align-content-center" (click)="search(searchForm.value)">
            <i class="material-icons mr-1">search</i>Search
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
