<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col-md-auto">
      <h2>Favorite Books</h2>
      <p> {{favBooks?.length}} books found</p>
    </div>
  </div>

  <div class="row card-group justify-content-md-center">
    <div class="col-md-4 mb-4"
         *ngFor="let favBook of favBooks">
      <app-book-card
        [book]="favBook.bookInfo"
        [isFav]="true"
        (showDetails)="onShowDetails(favBook.bookInfo)"
        (toggleFavorite)="onToggleFavorite(favBook.favBookId)"></app-book-card>
    </div>
  </div>
</div>
