<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand mb-0 h1" routerLink="/">Library App</a>
  <button class="navbar-toggler" aria-label="Toggle navigation" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
      [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/books">Home</a>
      </li>
      <li *ngIf="this.isLoggedIn()" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/favBooks">My favorites</a>
      </li>
      <li *ngIf="this.isLoggedIn()" class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/addPhoto">Add Photo</a>
        </li>
    </ul>
    <button (click)="this.login()" *ngIf="!this.isLoggedIn()" class="btn btn-success my-2 my-sm-0 d-inline-flex align-content-center">
        <i class="material-icons mr-1">account_circle</i>Log in
    </button>
    <button (click)="this.logout()" *ngIf="this.isLoggedIn()" class="btn btn-danger my-2 my-sm-0 d-inline-flex align-content-center">
        <i class="material-icons mr-1">account_circle</i>Log out
    </button>
  </div>
</nav>
