<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Library App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <li class="nav-item">
        <a class="nav-link" routerLink="/books">Home</a>
      </li>
      <li *ngIf="this.authService.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/favBooks">My favorites</a>
      </li>
    </ul>
    <button (click)="this.authService.logInWithGoogle()" *ngIf="!this.authService.isLoggedIn()" class="btn btn-outline-sucess my-2 my-sm-0">Log in</button>
    <button (click)="this.authService.logOut()" *ngIf="this.authService.isLoggedIn()" class="btn btn-outline-danger my-2 my-sm-0">Log out</button>
  </div>
</nav>
